<button class="btn back-button" onclick="goBack()">戻る</button>
<script>
function goBack() {
  var previousPath = new URL(document.referrer).pathname;
  var editPagePath = "<%= URI(url_path1).path %>"; 
  var thingPagePath = "<%= URI(url_path2).path %>";

  console.log("Previous Path:", previousPath);
  console.log("Edit Page Path:", editPagePath);
  console.log("Thing Page Path:", thingPagePath);

  if (previousPath === editPagePath) {
    window.history.go(-3);
  } else if (previousPath === thingPagePath) {
    window.history.go(-3);
  } else {
    window.history.back();
  }
}
</script>