<div class="bg-color">
  <div>
    <h1 class=" title">About</h1>
  </div>
  <br>
  <div class=" about-text">
    <h5>
      旅行・散策・喫茶店巡り。<br><br>
      あなたが「いいな」と思ったもの、「好きだな」と思ったもの。<br>
      思い出や記録の片隅にしまう前に共有してみませんか？<br><br>
      あなたの「好き」が、誰かの「好き」になれるかもしれません。<br>

      あなたのお気に入りの写真、場所を共有してください。<br>

    </h5>
  </div>
</div>