<%= form_with(model: [:post, post_comment]) do |f| %>
  <div class="comment-form">
    <%= f.text_area :comment, placeholder: "コメントをここに入力してください", class: "form-control", size:40; %>
  </div>
  <div class="comment-form">
    <%= f.submit submit_text, class: "form-control com-submit-btn" %>
  </div>
<% end %>