* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.a-views {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.a_user_image {
  margin-top: 50px;
}

.line {
  display: flex;
  justify-content: center;
  border-top: 2px dashed rgba(98, 45, 24, 0.2);
  margin-bottom: 20px;
  margin-top: 5px;
}

.a-user-status {
  margin: 0 auto;
}

.radio-btn-form {
  display: flex;
  gap: 0px;
  justify-content: center;
  text-align: center;
}
.radio-btn-form label {
  /*line-height: 2;  テキストの上下方向の余白を調整 */
  padding-top: 5px;
}

.submit-btn-area {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 75px;
}

.post-btn-area {
  text-align: center;
}

.post-btn {
  background-color: transparent;
  border: 2px solid rgba(98, 45, 24, 0.4);
  color:#622d18;
  border-radius: 10px;
}