* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgba(98, 45, 24, 0.1);
  border-bottom: 2px solid rgba(98, 45, 24, 0.4);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);  /*横方向、縦方向、ぼかし量、色を指定 */
  z-index: 1000;
  font-family: Century Gothic;
}

.btn-custom {
  color: rgba(98, 45, 24, 0.8);
  font-size: 20px;
  transition: background-color 3s; /* アニメーションを追加 */
}
.btn-custom:hover {
  color: rgba(84, 145, 127, 0.8);
}

footer {
  background-color: rgba(98, 45, 24, 0.1);
  border-top: 2px solid rgba(98, 45, 24, 0.4);
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2); /* 横方向、縦方向、ぼかし量、色を指定 */
  z-index: 1000;
}
.footer-area {
  padding: 10px;
}

body {
  background-color: rgba(234, 232, 225, 0.5);
}

.flash {
  text-align: center;
}