* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p-forms {
  margin-top: 20px;
  margin-left: 50px;
}

.time-form {
  display: flexbox;
  justify-content: flex-end
}

.visibility-btn {
  display: block; /* 縦並びにするためにブロック要素に変更 */
  text-align: left;
}
