* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-show {
  margin-top: 20px;
}

.user_image {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.user-info {
  margin-left: 50px;
  font-family: Century Gothic;
}

.user-table-edit {
  text-align: right
}

.user-table {
  text-align: center;
}

.line {
  border-top: 2px dashed #622d18;
}

.user-posts {
  margin-left: 50px;
}

.user-post-image {
  display: flex;
  flex-wrap: wrap;
}

.user-post-info {
  margin: 10px;
}