<div class="container">
  <div class="row views">
  
    <div class="col-2 sidebar">
      <!-- サイドバー --> 
      <%= render 'public/posts/sidebar' %>
    </div>

    <div class="col-10 bookmark-index"> 
      <h2 class = "title"> Bookmark</h2> 

      <table class = "table">
        <% @my_bookmark_posts.each do |post| %>
          <tbody>
            <%= render partial: 'public/posts/posts', locals: { post: post } %>
          </tbody>
        <% end %>
      </table>
      <div class="pager-area">
        <%= paginate @my_bookmark_posts %>
      </div>
    </div>
  </div>
</div>