<div class="container">
	<div class="row views">
    
    <div class="col-2 sidebar">
      <!-- サイドバー --> 
      <%= render 'public/posts/sidebar' %> 
    </div>

    <div class="col-10 user-show"> 
      <div class="attention-area">
        <div class="attention">
          <h2 class="font-weight-bold"></h2>
        </div>

        <div class="attention-word">
          ご指定のユーザーは現在非公開です。<br>
          のんびり一人旅なのかもしれません。<br>
          レトロジアは一人の時間を応援します。<br>
        </div>

        <div class="row back-btn-area">
        <button class="btn back-button" onclick="goBack()">戻る</button>
          <script>
            function goBack() {
              var previousUrl = document.referrer;
                window.history.back(); // ブラウザの履歴を1つ前に戻る
            }
          </script>
        </div>
      </div>
    </div>
  
  </div>
</div>